<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-word></app-word>
<app-book></app-book> -->
<!-- <app-user-form></app-user-form> -->
<!-- <app-struct></app-struct> -->
<!-- <app-words></app-words> -->
<!-- <app-person name="Drogba" age="37" ></app-person>
<app-person name="Dinh Van" age="27" ></app-person> -->
<!-- <app-list-persons></app-list-persons> -->
<!-- <app-parent></app-parent> -->
<!-- <app-card>
    <p class="card-header" > Amagumo Lab's </p>
    <p class="card-body" > Van handsome man </p>
</app-card> -->
<!-- <app-learn-pipe></app-learn-pipe> -->
<app-ip></app-ip>
